body{
text-align:center;
background-color: beige;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    color: red;
}

#date {
    font-weight: bold;
}

.content {
    color: blue;
}
